setuptools==59.5.0
editdistance==0.6.2
numba==0.58.1
numpy==1.24.4
opencv-python==4.10.0.84 
matplotlib==3.7.3
scipy==1.10.1
scikit-image==0.21.0
scikit-learn==1.3.2
pillow==9.1.0
shapely==2.0.6
timm==0.4.12
tqdm==4.57.0
albumentations==1.4.18
polygon3==3.0.9.1
rapidfuzz==2.13.7
faiss-cpu==1.7.4
omegaconf==2.3.0
openai==1.61.1 
pytorch-metric-learning==2.8.1
pandas==2.2.3